/**										aboutbook.css
 * main color: ee9900 (a lighter shade of the ClaSS orange)
 * dark shade: ff9900
 */

.aboutcolor div.topform, .aboutcolor table.listmenu {
	border-color: #ee9900;
	color: #000000;
}

.aboutcolor button {
	background-color: #444444;
}
.aboutcolor legend, .aboutcolor caption {
	border-color: #ee9900;
}
img:hover {
	cursor: pointer;
	overflow: hidden
}
.modal-about  h4 {
	text-align: center;
}
.modal-about  p {
	font-size: 18px;
	margin-bottom: 20px;
	font-weight: 300;
}
hr {
	background-color: #aeb6bf;
	height: 1px;
	width: 80%;
	margin: 60px auto;
}
