/**										aboutbook.css
 * main color: ee9900 (a lighter shade of the ClaSS orange)
 * dark shade: ff9900
 */

.aboutcolor fieldset, .aboutcolor div.topform, .aboutcolor table.listmenu {
	border-color:#ee9900;
	background-color:#444444; color:#000000;
	}
div#bookbox{
	border-color:#ee9900;
	}
.aboutcolor button {
	background-color:#444444;
	}
.aboutcolor legend, .aboutcolor caption {
    border-color:#ee9900;
	}

.aboutcolor h2, h4 {
	color:#000000;
    text-align:center;
	}
.aboutcolor p {
	color:#000000;
    text-align:center;
	}
#splash { 
    margin-top:4.5%;
    background-color:#ffffee;
	}
img:hover {
	cursor:pointer;
	overflow: hidden
	}
	


