/**										admin.css
 * main color: aa4444
 * light shade:
 */

.admincolor fieldset, .admincolor div.topform, .admincolor table.listmenu {
	border-color:#aa4444;
	color:#000000;
	}
div#bookbox {
	border-color:#aa4444;
	}
.admincolor button {
	background-color:#aa4444;
	}	
.admincolor legend, .admincolor caption {
    border-color:#aa4444;
	}
