/**										admin.css
 * main color: aa4444
 * light shade:
 */

.admincolor legend, .admincolor caption {
    border-color: #aa4444;
}
.smalltable th.other, .smalltable td.other {
    background-color: #ddeeff;
}
.smalltable th.static, .smalltable td.static {
    background-color: #eeeeee;
}
.smalltable th.live, .smalltable td.live {
    background-color: #ffffee;
}
.smalltable th.blank, .smalltable td.blank {
    background-color: #ffffff;
}
.listmenu tr.midlite td, .listmenu td.midlite, .midlite {
    background-color: #eeee99;
}
.listmenu tr.gomidlite td, .listmenu td.gomidlite, .gomidlite {
    background-color: #99cccc;
}
/* For the staff photos*/
.center div.icon {
    position: absolute;
    right: 5%;
    top: 7.5%;
}
.icon img {
    padding: 0.5em;
    height: 180px;
    width: 160px;
    border: 0;
    background-color: #CCCCCC;
}
.chart{
	padding:20px !important;
	}
tr.staffabsent{
	background-color: #FF9966;
	color: #FFE9DD;
	}
div.staffabsent{
	border:2px solid #FF9966;
	}
.stafflist_user{
	padding: 1%;
	width:6%;
	float:left;
	height:125px;
	}
.stafflist_user img{
	width:100%;
	height:auto;
	}
div.templatepreview {
	width: 50%;
	float: right;
}
div.templatepreview iframe {
	display: block;
}
