/**							bookstyle.css
 *
 *   All css common to the books. Principly deals with positioning
 *   and layout. The color schemes are defined on a book by book basis
 *   elsewhere.
 */
* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  color: #657585;
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  background-color: #FFFFFF;
}
a {
  color: #657585;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 21px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.1;
  color: inherit;
}
ul, ul li {
  list-style: none;
}
.fa {
  color: #91c73e;
  font-size: 14px;
  margin-right: 10px;
}
.selected.student .fa {
  color: #657585;
}

#hiddenbookoptions {
  display: none;
}
input, textarea, select {
  text-align: left;
  cursor: text;
  padding: 5px;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}
input:focus, textarea:focus, select:focus {
  border-color: #ff9900;
  z-index: 10000;
}
input[type=text], input[type=date], input[type=password], textarea {
  background-color: #FFFFFF;
  border-radius: 3px;
  color: #34495e;
  border: solid 1px #bac1c8;
  font-size: 14px;
}
input:focus[type=text], input[type=date]:focus, textarea:focus {
  border: solid 1px #34495e;
}
input[type=text], input[type=date] {
  height: 20px;
}

option[value=""] {
  background-color: #eeeeee;
  color: #aaaaaa;
  margin: 5px 0;
}
textarea {
  width: 95%;
}
input[readonly="readonly"] {
  border-color: #cccccc;
  background-color: #cccccc;
}

table {
  width: 100%;
  height: 100%;
  empty-cells: hide;
  border-collapse: collapse;
}
th {
  text-align: left;
  border-style: none;
  border-width: 0;
}
td {
  text-align: left;
  font-size: 14px;
}
legend, caption {
  font-size: 18px;
  text-align: left;
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: 600;
  background: none;
}
table caption {
  padding: 0 2%;
}
legend {
  margin-bottom: 40px;
}

label[for="Day"], label[for="Month"], label[for="Year"] {
  clear: none;
}

form .required {
  cursor: pointer;
  font-weight: normal;
}

form .required:before {
  font-family: 'FontAwesome';
}
form .required:before {
  content: "\f005";
  color: #f7941d;
  margin-right: 5px;
  font-size: 10px;
}

form img.caution {
  background-image: url("../images/redcross.png");
  content: url("../images/redcross.png");
}
.completed:before {
  content: "\f00c";
}
form img.caution+ input, form img.caution+ select {
  background-color: #ffff99;
}
form .calendar {
  width: 0;
  height: 0;
  border: 0;
  cursor: pointer;
  background-repeat: no-repeat;
}
form img.rowminus {
  background-image: url("../images/orangeminus.png");
  content: url("../images/orangeminus.png");
}
form img.rowplus {
  background-image: url("../images/orangeplus.png");
  content: url("../images/orangeplus.png");
}

fieldset {
  border-style: none;
}
div.hidden, input.hidden {
  display: none;
  border: 0;
  margin: 0;
  padding: 0;
}
/*the two possible container divs for each book, one after login and one for before*/
div#bookbox {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  overflow: auto;
}
.externalbookframe {
  position: absolute;
  left: 4%;
  top: 0%;
  width: 96%;
  height: 100%;
  margin: 0;
  border: 0;
}
/* only used to place a background image*/
div.background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -10;
}
/*this is main display div within each book*/
div.content {
  width: 100%;
  height: auto;
  border: 0;
  overflow: hidden;
  margin: 50px auto 0;
}
div.content fieldset, div.topcontent fieldset {
  padding: 1%;
  margin: 0;
  background-color: #eeeeee;
}
div.divgroup fieldset label, fieldset.divgroup fieldset label {
  background-color: #ddddee;
  color: #666666 !important;
}
div.content fieldset.divgroup .subgroup, div.topform fieldset.divgroup .subgroup, div.divgroup .subgroup, fieldset.divgroup .subgroup {
  background-color: #888888 !important;
}

/*a fixed height div, always at the top of the page before the content*/
div.topform, div.topcontent {
  overflow: auto;
  position: relative;
  top: 7%;
  width: 90%;
  padding: 1%;
  margin: 0 4% 1% 4%;
}
/*a div, always at the top of the page before the content*/
div.topform {
  height: 30%;
}
div.topform+ div.content {
  position: relative;
  height: 56%;
}
/*classes to position fieldsets and divs in a two-column layout*/
div.content fieldset.left, div.topcontent fieldset.left, div.topform fieldset.left {
  float: left;
  width: 45%;
  clear: left;
  margin: 0 0 2% 2%;
}
div.content fieldset.right, div.topcontent fieldset.right, div.topform fieldset.right {
  float: right;
  width: 45%;
  clear: right;
  margin: 0% 2% 2% 0;
}
div.content fieldset.center, div.topcontent fieldset.center, div.topform fieldset.center {
  width: 100%;
  padding: 0 2% 2%;
}

div.content div.left, div.topcontent div.left, div.topform div.left {
  float: left;
  width: 47%;
  clear: left;
  margin: 0 0 2% 2%;
}
div.content div.right, div.topcontent div.right, div.topform div.right {
  float: right;
  width: 47%;
  clear: right;
  margin: 0 2% 2% 0;
}
div.content .center, div.topcontent .center, div.topform .center {
  width: 100%;
  margin: 30px 0 10px;
}
div.content .fullwidth, div.topcontent .fullwidth, div.topform .fullwidth {
  margin: 0 1% 2% 1%;
  width: 98% !important;
  clear: both;
}

/*used to describe page content in the space to the left of the top buttonmenu*/
div#heading {
  position: absolute;
  top: 10px;
  left: 5px;
  margin-top: 2px;
  padding: 3px 8px 3px 4px;
  max-width: 55%;
  z-index: 4000;
  font-size: 18px;
}
#heading div {
  padding: 0;
  margin: 0;
  float: left;
}
div.buttonmenu {
  border: 0 none;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 4000;
  width: 95%;
  text-align: right;
  background-color: #FFFFFF;
  padding: 10px 2.5%;
}
.buttongroup {
  width: 50%;
  float: left;
}
#heading span {
  clear: none;
  font-size: xx-small;
  font-weight: 100;
}
/*the set of action buttons at the very top of the book*/
div.buttonmenu button {
  border-radius: 2px;
  border: none;
  background-color: #4d5f72;
  color: #CAD5DA;
  font-size: 14px;
  padding: 5px 10px;
  cursor: pointer;
  font-weight: 300;
}
div.buttonmenu button:hover {
  background-color: #657585;
}

button {
  border-radius: 2px;
  border: none;
  background-color: #91c73e;
  color: #E7F3D5;
  font-size: 14px;
  padding: 5px 10px;
  cursor: pointer;
}
button:hover {
  background-color: #abd46c;
}

/* The micro-action buttons contianed inside content, usually for xmlHttprequests*/
div.rowaction {
  float: left;
  padding: 0 10px;
}
.student .fa, .clicktoaction div, .clicktoemail, .clicktoedit, .clicktoconfigure, .clicktoprint, .completed {
  cursor: pointer;
  font-weight: normal;
}

.clicktoedit:before, .clicktoemail:before, .clicktoconfigure:before, .clicktoprint:before, .completed:before {
  font-family: 'FontAwesome';
  color: #91C73E;
}
.clicktoedit:before {
  content: "\f040";
}
.clicktoemail:before {
  content: "\f003";
}
.clicktoconfigure:before {
  content: "\f0ad";
}
.clicktoprint:before {
  content: "\f02f";
  font-size: 20px;
  margin-right: 5px;
}
.completed:before {
  content: "\f00c";
}
img.displayfilepdf {
  background-image: url("../images/file-pdf.png");
  content: url("../images/file-pdf.png");
  padding: 0;
  cursor: pointer;
  width: 42px !important;
  height: 50px !important;
  border: 0;
}
img.displayfile {
  background-image: url("../images/file-generic.png");
  content: url("../images/file-generic.png");
  padding: 0;
  cursor: pointer;
  width: 42px !important;
  height: 50px !important;
  border: 0;
}
img.clicktoload {
  background-image: url("../images/folder-open.png");
  content: url("../images/folder-open.png");
  cursor: pointer;
  width: 16px !important;
  height: 16px !important;
}
img.clicktowrite {
  background-image: url("../images/accessories-text-editor.png");
  content: url("../images/accessories-text-editor.png");
  cursor: pointer;
  width: 16px !important;
  height: 16px !important;
}

img.clicktodelete {
  background-image: url("../images/redcross.png");
  content: url("../images/redcross.png");
  cursor: pointer;
}
.student div {
  float: right;
  margin: 0;
  padding: 0;
}

img.clicktotransport {
  background-image: url("../images/bus.png");
  content: url("../images/bus.png");
  width: 16px !important;
  height: 16px !important;
  border: 0;
}
img.clicktohelp {
  background-image: url("../images/help-browser.png");
  content: url("../images/help-browser.png");
  cursor: pointer;
  width: 22px !important;
  height: 22px !important;
  border: 0;
  position: absolute;
}
/*a generic content table, usually for selecting things from a list*/
table.listmenu {
  border-top: 0;
}
.left .listmenu caption, .left .listmenu legend {
  padding-left: 5%;
  margin: 0 70% 0 5%;
}
.right .listmenu caption, .right .listmenu legend {
  padding-right: 5%;
  margin: 0 5% 0 70%;
}
.listmenu thead tr, .listmenu tr {
  background-color: #d2d7dc;
}
.listmenu th, .listmenu tbody td {
  padding: 5px;
}

.listmenu tbody tr:nth-of-type(odd) {
  background-color: #ebedef;
}
.listmenu tbody tr:hover {
  background-color: #FFFFFF !important;
}
.listmenu tbody td {
  border-top: 1px solid;
  border-color: #bac1c8;
}

.listmenu tfoot tr {
  background-color: #4d5f72;
}
.listmenu tfoot td, .listmenu tfoot td label {
  color: #bac1c8;
}
.listmenu tbody td.student {
  padding: 5px 1%;
  font-weight: bold;
}
.listmenu .merit {
  width: 80px;
}
.miniature a {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border: solid 1px #bac1c8;
  border-radius: 2px;
  float: right;
}
.miniature img {
  width: 60px;
  height: auto;
}

ul.listmenu, .listmenu li {
  border: 0 none;
  background-color: #ffffee;
  color: #115599;
  margin-top: 2px;
}
ul.listmenu {
  list-style-type: square;
}
.listmenu .special {
  font-weight: 600;
  font-style: italic;
}
.listmenu .vspecial, .vspecial {
  background-color: #ed776b !important;
  font-style: italic;
  color: #f7c2bc;
}

/*fade to gray*/
/*two shades of red*/
.listmenu tr.hilite td, .listmenu td.hilite, tr.hilite a, .hilite {
  background-color: #ff6600 !important;
}
.listmenu tr.midlite td, .listmenu td.midlite, .midlite {
  background-color: #ff9966 !important;
}
/*yellow*/
.listmenu tr.pauselite td, .listmenu td.pauselite, .pauselite {
  background-color: #eeee00 !important;
}
/*two shades of green*/
.listmenu tr.golite td, .listmenu td.golite, .golite {
  background-color: #669900 !important;
}
.listmenu tr.gomidlite td, .listmenu td.gomidlite, .gomidlite {
  background-color: #66cc66 !important;
}
/*outline red*/
.listmenu tr.outlite td, .listmenu td.outlite, .outlite {
  border: 3px solid #bbbbbb !important;
}
/*handy for checkboxes inside a table*/
.listmenu td div.row, .listmenu td div.row p, .listmenu td.row div, .listmenu td.row div p {
  float: left;
  padding: 0 4px 0 2px;
  margin: 0;
}
.listmenu td div.row input, .listmenu td.row div input {
  margin: 0;
  border: 2px solid #ff9900;
  cursor: pointer;
}
.listmenu td.boundary div {
  border: 1px solid #eeeeee;
  width: 15%;
  cursor: pointer;
}
.listmenu td.boundary {
  background-color: #fff;
}
.listmenu td div.row p.bigger {
  padding: 2px 4px;
  font-size: medium;
  background-color: #fff !important;
}
.listmenu td div.row p.bigger label {
  color: #444 !important;
  background-color: #ffffee;
  font-weight: 600 !important;
}
.listmenu td div.row {
  background-color: #ffffee;
}

/*extra functionality for a listmenu which lets rows be expanded and collapsed*/
tr.rowplus th:first-child, div.rowplus div:first-child {
  cursor: pointer;
  background-color: #FFFFFF;
  text-align: center;
  border-top: 1px solid #BAC1C8;
}
tr.rowplus th:first-child:before, div.rowplus div:first-child:before, tr.rowminus th:first-child:before, div.rowminus div:first-child:before {
  content: "\f067";
  font-family: 'FontAwesome';
  color: #91c73e;
}
.rowaction {
  display: inline-block;
}
tr.rowminus th:first-child, div.rowminus div:first-child {
  cursor: pointer;
  background-color: #FFFFFF;
  text-align: center;
  border-top: 1px solid #BAC1C8;
}
tr.rowminus th:first-child:before, div.rowminus div:first-child:before {
  content: "\f068";
}

tr.rowplus, div.rowplus, tr.rowminus, div.rowminus {
  cursor: pointer;
}
tr.hidden, div.hidden {
  display: none;
}
tr.revealed td, tr.revealed td label {
  background-color: #8995a2;
}
tr.revealed td label {
  background-color: #888888;
  color: #ffffff !important;
  padding: 0 2px;
  font-size: x-small;
}
tr.revealed div {
  margin: 0;
  padding: 3px;
}
tr.revealed p, tr.revealed ul {
  background-color: #ffffff;
  padding: 0 4px;
  width: 80%;
}
tr.revealed p {
  padding: 5px;
  display: inline-block;
}
td.hidden, th.hidden {
  display: none;
}

/***********tinytabs*******/
div.tinytabs {
  float: right;
}
div.tinytab-display {
  overflow: auto;
  margin-bottom: 30px;
}
.tinytabs ul {
  float: left;
}
.tinytabs li {
  float: right;
}
.tinytabs li p {
  padding: 10px;
  color: #657585;
  background-color: #FFFFFF;
  cursor: pointer;
}
.tinytabs p:hover, .tinytabs #current-tinytab {
  color: #657585;
  background-color: #d2d7dc;
}
.full-contact .clicktoedit {
  position: static !important;
  display: inline-block !important;
  padding: 0 !important;
}
.full-contact div {
  float: left;
  margin: 10px 25px 0 0;
  font-weight: 600;
}
.full-contact div label {
  font-weight: normal;
  width: 50px;
  display: inline-block;
}

/*some general colors used across all books*/
.neutral, .negative, .positive {
  background-color: #ffffff;
  padding: 5px;
}
.neutral, .neutral .fa {
  color: #1e2a37 !important;
    background: none;
}
.negative, .negative .fa {
  color: #e74c3c !important;
  background: none;
}
.positive, .positive .fa {
  color: #547324 !important;
    background: none;
}
.checked.negative, .checked.positive, .checked.neutral  {
  padding: 0;
}
p.warn {
  color: #000000;
  border: 2px solid #ff9900;
  background-color: #eeeeee;
  padding: 0.5em;
}
p.success {
  color: #000000;
  border: 2px solid #666666;
  background-color: #ffffff;
  padding: 0.5em;
}
.infoborder {
  border: 2px solid #999900;
}

/*qTip for the title attributes*/
div#qTip {
  background-color: #F7941D;
  color: #000;
  padding: 3px;
  display: none;
  text-align: left;
  position: absolute;
  font-size: 14px;
  padding: 10px;
  z-index: 1000;
  max-width: 28em;
  min-width: 6em;
  opacity: .80;
  border: solid 1px #8d5b0a;
}

/*only used on the enrolments page*/
table.smalltable {
  width: 100%;
  border-top: 2px solid;
}
.smalltable caption {
  width: 30%;
  margin-left: 5%;
  padding-left: 5px;
}

.overlay {
  top: 80px;
  left: 80px;
  width: 80%;
  height: 60%;
  background: #000;
  opacity: 0.86;
  z-index: 2000;
  position: absolute;
}

/* File upload areas only... */
.documentdrop #filedrag {
  display: none;
  font-weight: bold;
  text-align: center;
  padding: 1em 0;
  margin: 1em 0;
  color: #555;
  border: 2px dashed #555;
  border-radius: 7px;
  cursor: default;
}
.documentdrop #filedrag.hover {
  color: #f00;
  border-color: #f00;
  border-style: solid;
  box-shadow: inset 0 3px 4px #888;
}
.documentdrop #messages {
  padding: 0 10px;
  margin: 1em 0;
  border: 1px solid #999;
}
.documentdrop #progress p {
  display: block;
  padding: 2px 5px;
  margin: 2px 0;
  border: 1px inset #446;
  border-radius: 5px;
  background: #eee url("../images/progress.png") 50% 0 repeat-y;
}
.documentdrop #progress p.success {
  background: #0c0 none 0 0 no-repeat;
}
.documentdrop #progress p.failed {
  background: #c00 none 0 0 no-repeat;
}
.documentdrop div a label {
  color: #ffffff !important;
  background-color: #446 !important;
  cursor: pointer;
  padding: 2px 4px;
}
div.document {
  float: left;
  cursor: pointer;
  margin: 4px !important;
  border-radius: 5px;
}
div.upload {
  width: 142px;
  height: 30px;
  overflow: hidden;
  float: left;
}
div.upload input {
  display: block !important;
  width: 140px !important;
  height: 25px !important;
  opacity: 0 !important;
  overflow: hidden !important;
  position: absolute;
  z-index: 1001;
  cursor: pointer;
}

#coverbox {
  width: 100%;
  height: 100%;
  background-color: #91c73e;
  overflow: hidden;
  position: absolute;
}

form img {
  background-repeat: no-repeat;
  border: 0 none;
  height: 12px;
  width: 12px;
}

.sidtable td.td-status, .sidtable td.td-status td {
  padding-bottom: 0;
  padding-top: 0;
  padding-right: 0;
}
.sidtable td.td-status table {
  height: 100% !important;
}
.sidtable td.td-status td {
  border: none;
  padding: 0;
}

[id^="event-"] {
  cursor: pointer;
}
[id^="event-"] {
  cursor: pointer;
}

[id^="add-extra-a-"], [id^="add-extra-p-"] {
  display: inline-block;
}
.edit .registerEdit, [id^="add-extra-a-"] .registerEdit, [id^="add-extra-p-"] .registerEdit {
  margin-right: 0 !important;
}
[id^="add-extra-a-"] input, [id^="add-extra-p-"] input {
  font-size: 11px;
  padding: 5px 3px 5px 6px;
  height: 10px;
}
[id^="cell-"] {
  text-align: center;
}

.edit .registerEdit, 
[id^="add-extra-a-"] .registerEdit, 
[id^="add-extra-p-"] .registerEdit, 
.edit .registerEdit select, 
[id^="add-extra-a-"] .registerEdit select, 
[id^="add-extra-p-"] .registerEdit select, 
.edit .registerEdit span, 
[id^="add-extra-a-"] .registerEdit span, 
[id^="add-extra-p-"] .registerEdit span {
  height: 20px !important;
  line-height: 20px !important;
}
.edit .registerEdit, [id^="add-extra-a-"] .registerEdit, [id^="add-extra-p-"] .registerEdit{
  width:100px!important;
}
.edit .registerEdit span, 
[id^="add-extra-a-"] .registerEdit span, 
[id^="add-extra-p-"] .registerEdit span {
  width:75px!important;
}

button[value="Submit"] {
  background-color: #f39c12 !important;
  color: #fce9cb !important;
}

/*//// InforBook || Profile \\\\*/
.profile {
  padding: 2%!important;
  margin: 20px 2%;
  margin-top: 0;
  background-color: #ebedef;
  position: relative;
  overflow: hidden;
}
.profile  h4 {
  margin-bottom: 20px;
  font-weight: bold;
}
.profile .clicktoedit, .clicktoedit-bg {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 5px 7px;
  border-radius: 3px;
}

/* Details */
.profile-details a {
  text-decoration: none;
}
.icon {
  float: left;
  margin-right: 50px;
}
.icon img {
  padding: 0.5em;
  height: auto;
  width: 160px;
  height: 180px;
  border: 0;
  background-color: #d2d7dc;
}
.clicktoedit-bg {
  background: #91c73e;
}
.clicktoedit-bg span, .clicktoedit-bg span:before {
  color: #FFFFFF !important;
  position: static !important;
  padding: 0 !important;
}
.profile-details {
  overflow: hidden;
}

.profile-details  ul {
  display: inline-block;
  margin-right: 2.5%;
  width: 30%;
}
.profile-details  ul li {
  font-weight: bold;
  font-size: 14px;
}
.profile-details  ul li label {
  font-weight: normal;
  width: 45%;
  display: inline-block;
}
/* History */
.profile-history li {
  font-weight: bold;
}
.profile-history li a {
  width: 15%;
  display: inline-block;
  font-weight: normal;
  text-decoration: underline;
}
.profile-history li label {
  display: inline-block;
  margin-right: 5%;
}

/* Info */
.profile-info {
  width: 26.66%;
  float: left;
  padding: 20px 2;
  min-height: 100px;
  margin: 0 0 20px;
}
.profile-info:nth-child(3n+3) {
  margin-right: 2%;
}
.profile-info:nth-child(3n+4) {
  margin-left: 2%;
}
.profile-info:nth-child(3n+2) {
  margin: 0 2% 20px;
}

/* Info */
.profile-sibling  {
  clear: left;
}