/**							bookstyle.css
   *
   *		All css common to the books. Principly deals with positioning
   *   and layout. The color schemes are defined on a book by book basis
   *   elsewhere.
   */
body {
    font-family:Verdana, Arial, helvetica, sans-serif; 
    font-weight:500; 
    font-size:medium; 
	background-color:#444444; color:#ffffff; margin:0; border:0;
	text-align:left;
	}
a {
    font-size:small; 
    color:#000000; 
    font-weight:600;
    text-decoration:none;
	}
a:hover {
	text-decoration:underline;
	}
input, textarea, select {
	font-size:small; 
    margin-bottom:10px;
	text-align:left;
	cursor:text;
	float:left;
	border:2px solid #cccccc;
    padding:2px;
    margin:2px;
    width:auto;
    background-color:#ffffff;
	}
input:focus, textarea:focus, select:focus {
	border-color:#ff9900;
    z-index:10000;
	}
option[value=""]{ 
    background-color:#eeeeee;
    color:#aaaaaa;
    margin:5px 0;
	}
textarea {
    width:95%;
	}
input[readonly="readonly"]{
	border-color:#cccccc;
    background-color:#cccccc; 
	}
input[type="checkbox"] {
	width:1em;
	}
input[type="radio"] {
	width:1em;
	}
button {
	width:auto; 
    margin-top:2%; 
    font-weight:300; 
    color:#ffffff;
	cursor:pointer;
	}
table {
    width:100%;
	margin:0; border:0; padding:0;
	empty-cells:hide; border-collapse:collapse;
	background-color:#dde; color:#000000;
	}
th 	{
	text-align:left; 
    font-weight:500; 
    border-style:none; 
    border-width:0px;
	}
td 	{
	text-align:left; border-style:none; border-width:0px;
	}
legend, caption  {
	text-align:left; 
    font-size:x-small; 
    font-weight:300;
    border:2px solid;
	background-color:#ffffff;
    color:#000000;
	}

/*generic form stuff, including validation*/
label {
	clear:both;
	float:left;
	width:auto; 
	text-align:right; 
	font-size:x-small; 
    font-weight:400;
	margin-left:5px;
	margin-right:5px;
    color:#666;
	}
label[for="Day"], label[for="Month"], label[for="Year"] {
	clear:none; 
	}
label+input, label+select[size="1"], label+textarea {
	margin-bottom:5px; margin-left:5px;
	}
label>input, label>select[size="1"], label>textarea {
	margin-bottom:5px; margin-left:5px;
	}
label>select[multiple="multiple"] {
	margin-bottom:5px; margin-left:5px;
	}
label+select[multiple="multiple"] {
	margin-bottom:5px; margin-left:5px;
	}
form img {
	float:left;	
	width:12px; height:12px; border-style:none;	
	background-repeat: no-repeat;
	}
form img.required { 
	background-image: url("../images/orangestar.png");
    padding:1%;
	}
form img.caution { 
	background-image: url("../images/redcross.png");
    padding:1%;
	}
form img.completed { 
	background-image: url("../images/greentick.png");
    padding:1%;
	}
form img.caution+input, form img.caution+select {
	background-color:#ffff99;
	}
form img.calendar { 
    width:0; height:0; border:0;
	cursor:pointer;
	background-repeat:no-repeat;
	}
/**/
fieldset {
    border-style:none;
    border-top:2px solid;
	background-color:#dde;
	}
div.hidden {
	display:none;
	border:0; margin:0; padding:0;
	}
/*the two possible container divs for each book, one after login and one for before*/
div#bookbox {
	position:absolute;
    left:0%; top:0%; width:100%; height:99%; 
	border-top:3px solid;
	border-bottom:none;
	overflow:hidden;
	}
div#coverbox {
	position:absolute; left:0%; top:1px; width:100%; height:99.6%; 
	overflow:hidden; 
	}
.externalbookframe {
	position:absolute; left:4%; top:0%; width:96%; height:100%;	
	margin:0; border:0;
	}
/* only used to place a background image*/
div.background {
	position:absolute;
	width:100%;
	height:100%;
    z-index:-10;
	}
/*this is main display div within each book*/
div.content {
	position:relative; top:7%; height:93%; 
	font-size:small;
	border:0;
	background-color:#444444;
	overflow:auto; 
	}
.content input[type="checkbox"] {
	width:1em;
	}
div.content div {
	border:0; margin:0;
	overflow:hidden;
	}
div.content fieldset {
    padding:1%; margin:0;
	background-color:#dde;
	}
div.content fieldset div {
	background-color:#dde;
	}
div.content fieldset.divgroup, 
div.topform fieldset.divgroup, div.divgroup,
fieldset.divgroup div { 
	background-color:#666666 !important; 
	color:#ffffee !important;
    border:0 !important;
	}
div.divgroup label, fieldset.divgroup label { 
	background-color:#666666; 
	color:#ffffee !important;
	}
div.divgroup fieldset label, fieldset.divgroup fieldset label { 
	background-color:#ddddee; 
	color:#666666 !important;
	}


/*a fixed height div, always at the top of the page before the content*/
div.topform {
	overflow:auto;
	position:relative;
	top:7%; height:30%; width:90%;
	padding:1%;
	margin:0 4% 1% 4%;
/*	border-top:2px solid;*/
/*	background-color:#dde;*/
	}
div.topform+div.content {
	position:relative; height:56%;
	}
/*classes to position fieldsets and divs in a two-column layout*/
div.content fieldset.left, div.topform fieldset.left {
	float:left;
	width:45%;
	clear:left;
	margin:0 0 2% 2%;
	}
div.content fieldset.right, div.topform fieldset.right {
	float:right;
	width:45%;
	clear:right;
	margin:0% 2% 2% 0;
	}
div.content fieldset.center, div.topform fieldset.center {
	float:right;
	width:92%;
	clear:right;
	margin:0% 4% 2% 4%;
	}
div.content div.left, div.topform div.left {
	float:left;
	width:47%;
	clear:left;
	margin:0 0 2% 2%;
	}
div.content div.right, div.topform div.right {
	float:right;
	width:47%;
	clear:right;
	margin:0 2% 2% 0;
	}
div.content .center, div.topform .center {
    margin:0 4% 2% 4%;
	width:92%;
	clear:both;
	}
div.content .fullwidth, div.topform .fullwidth {
    margin:0 1% 2% 1%;
	width:98% !important;
	clear:both;
	}

/*used to describe page content in the space to the left of the top buttonmenu*/
div#heading {
	position:absolute; top:1%; left:10%;
	border:0; margin-top:2px;
    padding-top:0;
    padding-right:0.8em;
    padding-left:0.4em;
	background-color:#ffffff;
    color:#000000;
    font-weight:600;
    font-size:x-small;
    max-width:55%;
	}
#heading div {
	padding:0;margin:0;
	float:left;
	}
#heading span {  
    clear:none;
    font-size:xx-small;
    font-weight:100;
	}
/*the set of action buttons at the very top of the book*/
div.buttonmenu {
	border:0; margin-top:0.5%;
	overflow:hidden;
	position:absolute; top:0%; right:10%;
	background-color:#444444;
    z-index:4000;
	}
.buttonmenu button, #heading button {
	margin:1px 2px; border:2px; border-style:outset; padding:0;
	font-size:x-small; 
    font-weight:300; 
    color:#ffeeff;
	cursor:pointer;
	}
.buttonmenu button[value="Submit"], .buttonmenu button[value="Enter"] {
	background-color:#444444; 
	color:#ff9900;
    font-weight:600; 
	}
.buttonmenu button[value="Submit"]:hover, .buttonmenu button[value="Enter"]:hover {
	background-color:#ff9900; 
	color:#ffffff;
    z-index:1000;
	}
.buttonmenu button[value="Cancel"], .buttonmenu button.cancel {
	background-color:#666666; 
	color:#ffffee;
	}
.buttonmenu button[value="Back"] {
	background-color:#666666; 
	color:#ffffee;
	}
div.buttongroup { 
    margin-left:10px; padding:2px;
    float:left;
	}
.buttonmenu button[value="Reset"], div.buttongroup {
	background-color:#666666; 
	color:#ffffee;
	}
div.buttongroup label {
	color:#dddddd;
    line-height:90%;
    font-size:xx-small;
	}
button[value="Okay"] {
	background-color:#666666; 
	color:#ffffee;
	width:5em;
	}
button.install {
	background-color:#666666; 
	color:#ffffee; 
    font-size:xx-small; 
	}
.buttonmenu button:hover, .buttonmenu button:focus, 
 #heading button:hover, #heading button:focus {
    border-color:#5599cc;
    background-color:#5599cc;
    color:#ffffff;
	}
/* The micro-action buttons contianed inside content, usually for xmlHttprequests*/
div.rowaction {
	padding:0;margin:0;
	float:right;
    width:8em;
	}
button.rowaction, div.rowaction, div.rowaction button {
	margin:1px 2px; border:1px; border-style:outset; padding:0;
	font-weight:100; 
    font-size:xx-small; 
    color:#ffeeff;
	cursor:pointer;
	float:right;
	}
button.rowaction img { 
	float:left;
	width:12px; height:12px; border-style:none;	
	background-repeat:no-repeat;	
	opacity:1;
	}
button.rowaction:hover, button.rowaction:focus {
    border-color:#5599cc;
    background-color:#5599cc;
    color:#ffffff;
	}
button.imagebutton {
	border:0 !important;
	}
img.clicktoload { 
	background-image:url("../images/folder-open.png");
    padding:1px;
	cursor:pointer;
    width:16px !important;
    height:16px !important;
	}
img.clicktowrite { 
	background-image:url("../images/accessories-text-editor.png");
    padding:1px;
	cursor:pointer;
    width:16px !important;
    height:16px !important;
	}
img.clicktoedit { 
	background-image:url("../images/editer.png");
    padding:1px;
	cursor:pointer;
	}
img.clicktodelete { 
	background-image:url("../images/redcross.png");
    padding:1px;
	cursor:pointer;
	}
img.clicktoconfigure { 
	background-image:url("../images/document-properties.png");
    padding:1px;
	cursor:pointer;
	}
img.clicktoaddmerit { 
	background-image:url("../images/goldstar.png");
    padding:1px;
	cursor:pointer;
	}
img.clicktotarget { 
	background-image:url("../images/greentick.png");
    padding:1px;
	cursor:pointer;
	}
img.clicktochart { 
	background-image:url("../images/charter.png");
    padding:1px;
	cursor:pointer;
	}
img.clicktoprint { 
	background-image:url("../images/printer.png");
    padding:0;
	cursor:pointer;
    width:20px !important;
    height:20px !important;
    border:0;
	}
img.clicktoemail { 
	background-image:url("../images/mail-message-new.png");
    padding:1px;
	cursor:pointer;
    width:16px !important;
    height:16px !important;
    border:0;
    position:absolute;
	}
img.clicktohelp { 
	background-image:url("../images/help-browser.png");
    padding:1px;
	cursor:pointer;
    width:22px !important;
    height:22px !important;
    border:0;
    position:absolute;
	}
.clicktoaction div { 
	cursor:pointer;
	}

/*a generic content table, usually for selecting things from a list*/
table.listmenu {
	border-top:0;
	}
.center .listmenu caption, .center .listmenu legend {
	padding-left:5%; margin:0 70% 0 5%;
	}
.left .listmenu caption, .left .listmenu legend {
	padding-left:5%; margin:0 70% 0 5%;
	}
.right .listmenu caption, .right .listmenu legend {
	padding-right:5%; margin:0 5% 0 70%;
	}
.listmenu td label, .listmenu th label {
    color:#666666 !important;
	}
.listmenu td {
	border-top:1px solid;
	border-color:#cccccc;
	background-color:#ffffee;
    padding-left:1%;
	}
div.content fieldset.listmenu, div.content fieldset.listmenu div,
	.listmenu td label,  .listmenu th label {
	background-color:#ffffee;
	}
.listmenu .special {
	font-weight:600; font-style:italic;
	}
.listmenu .vspecial {
    background-color:#ffff99;
	font-weight:600; font-style:italic;
	}
.listmenu th {
	font-weight:600; font-size:small;
	border-left:2px solid #999999;
	background-color:#ffffff;
	}

.listmenu th:first-child {
	border-left:0;
	}
.listmenu td.E {
    color:#aaaaaa;
	background-color:#ffffff;
	}
.listmenu tr:hover {
	background-color:#fcd39a !important;
	}
.listmenu tr:hover td { 
	background-color:#fcd39a !important;
	}
.listmenu tr:hover th { 
	background-color:#fcd39a !important;
	}
.listmenu tr td table td:hover { 
	background-color:#eeeeee !important;
	}
/*fade to gray*/
.listmenu tr.lowlite td, .listmenu td.lowlite, tr.lowlite a, .lowlite { 
    color:#aaaaaa !important;
	}
.listmenu tr.nolite td, .listmenu td.nolite, .nolite { 
    background-color:#eeeeee !important;
	}
/*two shades of red*/
.listmenu tr.hilite td, .listmenu td.hilite, tr.hilite a, .hilite { 
    background-color:#ff6600 !important;
	}
.listmenu tr.midlite td, .listmenu td.midlite, .midlite { 
    background-color:#ff9966 !important;
	}
/*yellow*/
.listmenu tr.pauselite td, .listmenu td.pauselite, .pauselite { 
    background-color:#eeee00 !important;
	}
/*two shades of green*/
.listmenu tr.golite td, .listmenu td.golite, .golite { 
    background-color:#669900 !important;
	}
.listmenu tr.gomidlite td, .listmenu td.gomidlite, .gomidlite { 
    background-color:#66cc66 !important;
	}
/*handy for checkboxes inside a table*/
.listmenu td div.row, .listmenu td div.row p, .listmenu td.row div, .listmenu td.row div p { 
    float:left;
    padding:0 4px 0 2px;
    margin:0;
	}
.listmenu td div.row input, .listmenu td.row div input { 
    margin:0;
    border:2px solid #ff9900;
	}
.listmenu td div.checked, div.checked input, div.checked label { 
    background-color:#ff9966 !important;
	}
.listmenu td.boundary div { 
    border:1px solid #eeeeee;
	width:20%;
	}

/* Always use in conjunction with listmenu, for when your
listmenu is not a menu or a form at all but presents some side info in
that style*/ 
.listinfo tr td, .listinfo td {
    line-height:1.1em;
    padding-left:2em;
	}

/*extra functionality for a listmenu which lets rows be expanded and collapsed*/
tr.rowplus th:first-child {
	background-image:url("../images/orangeplus.png");
	background-repeat:no-repeat;
	background-position:center;
	cursor:pointer;
	background-color:#888888;
	}
tr.rowminus th:first-child {
	background-image:url("../images/orangeminus.png");
	background-repeat:no-repeat;
	background-position:center;
	cursor:pointer;
	background-color:#eeeeee;
	}
tr.rowplus {
	cursor:pointer;
	}
tr.rowminus {
	cursor:pointer;
	}
tr.hidden { 
	display:none;
	}
tr.revealed td, tr.revealed td label { 
	background-color:#999999;
	}
tr.revealed td label { 
	background-color:#999999;
	color:#ffffff !important;
    padding:0 2px;
    font-size:x-small;
	}
tr.revealed div {  
    margin:0;
    padding:3px;
	}
tr.revealed p, tr.revealed ul { 
	background-color:#eeeeee;
    margin:0 0 0 2px;
    padding:0 4px;
    width:80%;
	}
td.hidden { 
	display:none;
	}
th.hidden { 
	display:none;
	}

/***********sidtable selected class*******/
table.sidtable {
    width:99%;
	}
.sidtable th {
	font-size:x-small;
	cursor:pointer;
	}
.sidtable td.edit, .sidtable th.edit {  
    border-left:20px solid #444444;
	padding:0 25px; margin:0;
    width:20%;
	}
.sidtable .edit select, .sidtable th select {
    float:left;
	padding:0; margin:0;
    font-size:x-small;
	}
.sidtable td.extra {  
    background-color:yellow;
	padding:0 5px; margin:0;
	}
.sidtable .extra input {  
    width:1em;
	padding:0; margin:0;
	}
.sidtable .edit select:focus {
    border:2px solid #ff9900;
	}
.sidtable td img { 
    padding:0 20%;
    width:10px;
    height:10px;
	}
.sidtable td[title] {
	background-repeat: no-repeat;
	}
.sidtable td:first-child { 
    width:4em;
    padding:0;
	}
.sidtable td:first-child + td { 
    width:4em;
    padding:0;
    text-align:left;
	}
/***********tinytabs*******/
div.tinytabs {
    font-size:x-small;
    line-height:normal;
    padding:0 1px;
	}
div.tinytab-display {
    overflow:auto;
	}
.tinytabs ul {
    list-style:none;
    }
.tinytabs li {
    float:right;
    height:40px;
    }
.tinytabs li p {
    padding:4px 12px 20px 8px;
    color:#ffffff;
	background-color:#888888;
	border:1px solid #cccccc;
	-moz-border-radius:0 18% 0 0;
	cursor:pointer;
    }
.tinytabs p:hover, .tinytabs #current-tinytab {
    color:#000000;
    background-color:#ffffee;
    }

/*some general colors used across all books*/
.negative {
	background-color:#ffffff; 
	color:red;
	}
.positive {
	background-color:#ffffff; 
	color:green;
	}
p.warn {
	color:#000000; border: 2px solid #ff9900; background-color:#eeeeee;
	padding:0.5em;
	}
p.success {
	color:#000000; border: 2px solid #666666; background-color:#ffffff;
	padding:0.5em;
	}
.infoborder {
	border:2px solid #999900;
	}

/*qTip for the title attributes*/
div#qTip {
	background-color: #ff9900;
    color: #000;
    padding: 3px;
    border: 1px solid #666;
    border-right-width: 2px;
    border-bottom-width: 2px;
    display: none;
    font: bold 13px Verdana, Arial, sans-serif;
    text-align: left;
    position: absolute;
    z-index: 1000;
	max-width:28em;
	min-width:6em;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-topleft: 0;
	-moz-border-radius-topright: 10px;
	opacity: .80;
	}

/*only used on the enrolments page*/
table.smalltable {    
    width:100%;
    border-top:2px solid;
	}
.smalltable caption {
    width:30%;
    margin-left:5%;
    padding-left:5px;
	}
.smalltable th, th.smalltable {
	font-size:small;
    font-weight:300;
    width:10%;
    text-align:left;
	}
.smalltable th + th, .smalltable td  {
	font-size:small;
    font-weight:300;
    width:10%;
    text-align:center;
	}
