/*										entrybook.css
 * main color: 1181aa
 * light shade:
 */

div#bookbox{
	border-color:#1181aa;
	}
.entrybookcolor fieldset, .entrybookcolor div.topform, .entrybookcolor table.listmenu {
	border-color:#1181aa;
    color:#000000;
	}
.entrybookcolor button {
	background-color:#1181aa;
	}
.entrybookcolor legend, .entrybookcolor caption {
    border-color:#1181aa;
	}
