/***************************************************************************/
/*										hoststyle.css*/
/* All the styles needed by the top-level host page*/
/***************************************************************************/

body {
    background-color: ffffff;
    color: #ffffff;
    margin: 0;
    border: 0;
    overflow: hidden;
        font-family: 'Lato', sans-serif;
}
a {
    font-size: small;
    color: #000000;
    font-weight: 600;
    text-decoration: none;
}
div#currentbook {
    overflow: hidden;
}
header {
    width:100%;
    height:80px;
    float:left;
    background-color: #34495e;
}
.container  {
    width: 80%;
    position: relative;
    margin: 0 auto;
}

.branded    {
    position: absolute;
    z-index: 150;
    top: 10px;
    left: 0;
}

/***************************************************************************/
/* the two possible main displays one after login and one before*/
/* plus the logbook div which fills out the rest of the display*/
.bookframe {
    position: absolute;
    left: 0;
    top: 600px;
    width: 100%;
    height: 95.1%;
    border: 0;
    padding: 0;
    overflow: hidden;
}
.fullbookframe {
    position: absolute;
    left: 0%;
    top: 4.4%;
    width: 100%;
    height: 95.1%;
    border: 0;
    padding: 0;
    overflow: hidden;
}
.coverframe {
    position: absolute;
    left: 0;
    top: 80px;
    width: 100%;
    height: 100%;
    border: 0;
    overflow: hidden;
}

/***************************************************************************/
/* controls the book tabs along the top*/
.booktabs {
    width: 100%;
    background-color: #34495e;
    height: 80px;
}
.booktabs ul {
    float: right;
    height: 50px;
    list-style: none;
    width: 100%;
}

.booktabs ul {
    margin: 0;
    list-style: none;
}
.booktabs li {
    float: right;
    margin: 0;
    padding: 0;
    border: 0;
}
.booktabs li a {
    display: block;
    font-weight: 400;
    cursor: pointer;
    font-size: 18px;
    color: #8995a2;
    margin: 0;
    padding: 15px 20px;
}
.booktabs li a:hover,
.booktabs #currentbook{
    background-color: #91c73e;
    border-radius: 2px 2px 0 0;
    color: #e7f3d5;
}
.booktabs #currentbook:hover    {
    background-color: #ABD46C;
}

/*the special case logbook in top left corner*/
.booktabs .logbook {
    cursor: pointer;
}
div#loginworking {
    width: 140px;
    float: right;
    margin-right: 10px;
}
#loginworking .selector, 
#loginworking .selector span,
#loginworking .selector select {
    height: 25px;
    font-size: 12px;
    line-height: 25px;
    padding: 0;
    color: #8995a2;
    text-transform: capitalize;
}
#loginworking .selector span   {
    background-position: right -100px;
    padding-left: 10px;
}
.user-logout    {
    color:#8995a2;
    background-color: #2e4053;
    display: inline-block;
    padding: 3px 10px 0;
    float: right;
    font-size: 14px;
    text-transform: uppercase;
    height: 22px
}
.user-logout a    {
    color:#8995a2;
}

/***************************************************************************/
/* stuff for the bookoptions in the sidebar*/
option {
    font-size: x-small;
    background-color: #ffffff;
}

button {
    border-radius: 2px;
    border: none;
    background-color: #91c73e;
    color: #E7F3D5;
    font-size: 14px;
    padding: 10px;
    cursor: pointer;
}
button:hover    {
    background-color: #abd46c;
}

.bookoptions {
    position: absolute;
    left: 0;
    top: 80px;
    width: 100%;
    height:auto;
    overflow: hidden;
    background-color: #4d5f72;
    padding-top: 10px;
}
.bookoptions label {
    margin: 0 0 5% 2%;
    color: #ffffff;
}
.bookoptions .neat label, .bookoptions .neat input[type="radio"] {
    font-weight: 300;
    margin: 0;
    padding: 0;
    color: #dddddd;
}
.bookoptions div.neat {
    font-size: xx-small;
    background-color: #666666;
    width: 95%;
    margin: 0;
    padding: 0;
}
.bookoptions .neat div {
    background-color: #888888;
    float: right;
    padding: 0 1em;
    margin: 0;
}
.bookoptions select.switcher, .bookoptions select.switcher option {
    font-weight: 600;
    color: #ffffff;
    background-color: #444444;
}
.bookoptions fieldset {
    border: none;
    padding:0;
    width: 80%;
    margin: 0 auto 20px;
}
.bookoptions fieldset:first-child {
    border-bottom: solid 1px #CAD5DA;
}
.bookoptions form {
    display: inline;
}
.bookoptions form.infobookchoice    {
    width: 80%;
}
.switchstudent, #switchcontact  {
    float: left;
    margin-right: 10px;
}
/*these select widths are not ideal but seem to solve a firefox bug for 100%!*/
.bookoptions option {
}
.bookoptions select#mids:focus, select#mids:focus option {
    width: 100%;
}

.bookoptions option:hover {
    background-color: #5599cc;
    color: #ffffff;
}
.bookoptions input[type="radio"] {
    width: 1em;
}
.formimages {
    padding: 5px;
    width: 10px;
    height: 10px;
    border-style: none;
}

/***************************************************************************/
/* the rest of the sidebar - which comes under the logbook*/

/*sitethrobber and sitestatus are interchangable div elements*/
#siteicon.hide, #sitestatus.hide {
    visibility: hidden;
    z-index: -1000;
    display: none;
}
#siteicon.show, #sitestatus.show {
    visibility: visible;
    z-index: 500;
}

#logbook {
    width: 550px;
    position: absolute;
    z-index: 150;
    top: 20px;
    right: 10px;
}
#loginlang .selector  {
    float: left;
    width: 245px!important;
    margin-left: 20px;
}
#loginlang .selector span  {
    width: 220px!important;
}
#login {
    background-color: #666666;
    color: #ee9900;
    margin: 5%;
    width: 100%;
    border-left: 3px solid #ffffff;
}
div#sidebuttons {
    width: 40%;
    padding: 0;
    margin: 0;
    border: 0;
    z-index: 100;
    background-color: #444444;
}
div#sidebuttons button {
    background-color: #444444;
}
.sidebuttons img {
    padding: 0;
    margin: 0;
    border: 0;
    width: 20px;
    height: 20px;
}
.sidebuttons button {
    float: left;
    border-radius: 4px;
    padding: 0;
    margin: 0 1px;
    border: 0px none;
    width: 22px;
    height: 22px;
}
div.hidden {
    display: none;
    border: 0;
    margin: 0;
    padding: 0;
}
.marktable th.other, .marktable td.other {
    background-color: #ddeecc;
}
.marktable th.derived, .marktable td.derived {
    background-color: #ddeeff;
}
select option.report {
    background-color: #eeeeee;
}
select option.derived {
    background-color: #ddeeff;
}
select option.other {
    background-color: #ddeecc;
}
