/*										infobook.css
 * main color: aaaa44
 * light shade:
 */
/*used (but rarely) to describe page content in the space to the left of the top buttonmenu*/
div#formstatus-new {
  border: 0;
  margin: 2px 0 10px 0;
  padding: 0.2em 0.8em;
  background-color: #aaaa44;
  color: #fff;
  font-weight: 600;
}
div#formstatus-edit {
  border: 0;
  margin: 2px 0 10px 0;
  padding: 0.2em 0.8em;
  background-color: #664;
  color: #eee;
  font-weight: 600;
}
div#formstatus-action {
  border: 0;
  margin: 2px 0 10px 0;
  padding: 0.2em 0.8em;
  background-color: #ff6600;
  color: #eee;
  font-weight: 600;
}
/* For the student photos*/

div.content div#map_canvas div {
  overflow: visible;
}
div.content div#gmaps table {
  background-color: #FFFFEE;
}
div.content div#gmaps tr:hover {
  background-color: #FCD39A;
}
