/*										infobook.css
 * main color: aaaa44
 * light shade:
 */

.infocolor fieldset, .infocolor div.topform, .infocolor table.listmenu {
	border-color:#aaaa44;
    color:#000000;
	}
div#bookbox{
	border-color:#aaaa44;
	}
.infocolor button {
	background-color:#aaaa44;
	}
.infocolor legend, .infocolor caption {
    border-color:#aaaa44;
	}
/*used (but rarely) to describe page content in the space to the left of the top buttonmenu*/
div#formstatus-new {
	border:0; margin:2px 0 10px 0;
    padding:0.2em 0.8em;
	background-color:#aaaa44;
    color:#fff;
    font-weight:600;
	}
div#formstatus-edit {
	border:0; margin:2px 0 10px 0;
    padding:0.2em 0.8em;
	background-color:#664;
    color:#eee;
    font-weight:600;
	}
div#formstatus-action {
	border:0; margin:2px 0 10px 0;
    padding:0.2em 0.8em;
	background-color:#ff6600;
    color:#eee;
    font-weight:600;
	}
/* For the student photos*/
.center div.icon {
	position:absolute;
    right:5%; top:1%; 
    width:25%;
	}
.icon img {
    padding:0.5em;
	height:100px;
	width:100px; 
    border:4px solid #eef;
    background-color:#eee;
	}
