/* Select */
body.ld-select-on *, .ld-select-mask {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body.ld-select-on .ld-select-mask {
    position: fixed;
    background: blue;
    z-index: 55;
    background: transparent;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
body.ld-select-on *::-moz-selection { background: transparent; color: inherit; }
.ld-multi-select {
  background-color: #34495e;
  line-height: 40px;
  height: 40px;
  padding: 0 0 0 10px;
  position: relative;
  border-radius: 3px;
  font-size: 12px;
}
.ld-multi-select .btn-select {
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  background-position: right -50px;
  height: 40px;
  line-height: 40px;
  cursor: pointer !important;
  width: 150px;
  display: block;
  color: #cad5da;
  text-shadow: none;
  background-image: url("../images/sprite.png");
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;
}
.ld-multi-select .option-panel {
    display: none;
    margin: 0;
    position: absolute;
    top: 40px;
    left: 0px;
    min-width: 100%;   
}
.ld-multi-select .option-group {
    padding: 0;
    margin: 0;
    max-height: 250px;
    overflow: auto;
    overflow-y: visible;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch
}
.ld-multi-select .option-panel {
   background: #ebedef;
}
.ld-multi-select .option-panel.show-selection {
    display: block;
}
.ld-multi-select .option {
    display: block;
    background: #ebedef;
    color: #657585;
    line-height: normal;
    padding: 4px 2px 1px;
    -moz-user-select: text;
}
.ld-multi-select button {
    background: #34495e;
    padding: 5px;
}
.ld-multi-select button.action {
    background: #91c73e;
}
.ld-multi-select .option.selected {
    background: #73A8EC;
    color: #fff
}
