body.login  {
    background-color: #91c73e;
}
.login-form {
    width: 50%;
    float: right;
}
.login-form .form-group {
    position: relative;
}
.login-form label   {
    font-size: 14px;
    color: #bfde8f;
    background-color: #6e972f;
    border-radius: 2px 0 0 2px;
    height: 15px;
    width: 30px;
    position: absolute;
    text-align: center;
    padding: 10px 0;
}
.login-form button {
    background-color: #434d57;
    border-radius: 2px;
    border: none;
    height: 35px;
}
.login-form button:hover,  .login-form button:focus {
    border-color: #5599cc;
    background-color: #5599cc;
    color: #ffffff;
}
.login-form input {
    border: none;
    background-color: #daefd7;
    height: 35px;
    border-radius: 0 3px 3px 0;
    padding: 0 0 0 10px;
    margin-left: 30px;
    color: #547324;
    text-transform: capitalize;
}
.login-form input:focus {
    border-color: #ff9900;
}

.schoollogo {
    width: 50%;
}
