.logincolor fieldset, .logincolor div.topform, .logincolor table.listmenu {
	border-color:#777777;
	color:#000000;
	background-color:#999999; color:#000000;
	}	
.logincolor button {
	background-color:#666666;
    width:60%; 
    margin-left:20%; 
    margin-top:10%;
	}
.logincolor button:hover, .logincolor button:focus {
	background-color:#eeeeee;
    color:#ff9900;
	}	
.logincolor legend, .logincolor caption {
	background-color:#eeeeee;
    border-color:#666666;
	}	
.logincolor input {
	border-color:#eeeeee;
	}
.logincolor input:focus {
	border-color:#ff9900;
	}
.logincolor fieldset#loginbox {
    position:absolute; left:20%; top:16%; width:35%;
	padding:2% 0% 2% 5%;
	}
.logincolor fieldset#loginbox table { 
    background-color:#999999;
    width:70%;
	}
.logincolor table td { 
    float:right;
    font-size:medium;
	}
.logincolor table td:first-child { 
    float:left;
    width:80%;
	}
.logincolor table label, .logincolor button  { 
    font-size:medium;
    font-weight:600;
	}

/*only used in the coverpage splash*/
div#branded  {
	position:absolute; right:5%; top:94%;
	cursor:pointer;
	}
div#schoollogo {
	position:absolute; right:5%; top:5%;
    padding:2px;
    z-index:5;
	}
