div.externalbookframe { 
    width:98%;
    left:1%;
    overflow:hidden;
	}
div#classerrors { 
    overflow:auto;
	}
errorentry {  
	border:0; margin-top:2px;
    float:left;
	background-color:#666666; 
	color:#ffffee; font-size:9pt; 
	}
errorentry[errortype="Notice"] {  
	background-color:#666666; 
	color:#ffffee; font-size:8pt; 
	}
errorentry[errortype="Notice"] datetime {  
	color:yellow; 
	}
errorentry[errortype="Warning"] {  
	background-color:#eeeeee; 
	color:#222211; 
	}
errorentry[errortype="Warning"] datetime {  
	color:blue; 
	}
errorentry[errortype="User Warning"] {  
	background-color:#eeeeee; 
	color:#222211; 
	}
errorentry[errortype="User Warning"] datetime {  
	color:blue;
	}
mysqlerror {
	border:0; margin-top:2px;
    float:right;
	background-color:red; 
	color:#ffffee; font-size:8pt; 
	}
classbook {
	border:1px solid orange;
    float:right;
	}
classcurrent {
	border:1px solid orange;
    float:right;
	}
