.registercolor {
	background-color:#444444; color:#000000;
	}	
div#bookbox{
	border-color:#44aa66;
	}
.registercolor button, .registercolor legend, .registercolor caption {
	background-color:#44aa66; color:#ffffff;
	}	
.registercolor fieldset {
	background-color:#cccccc; border-color:#44aa66
	} 
.registercolor div {
	border-color:#44aa66;
	}


table.sidtable {
    width:99%;
	}
.sidtable th {
	font-size:x-small;
	}
.sidtable td.edit, .sidtable th.edit {  
    border-left:20px solid #444444;
	padding:0 25px; margin:0;
	}
.sidtable .edit select {
    float:left;
	padding:0; margin:0;
    font-size:x-small;
	}
.sidtable td.extra {  
    background-color:yellow;
	padding:0 5px; margin:0;
	}
.sidtable .extra input {  
    width:1em;
	padding:0; margin:0;
	}
.sidtable .edit select:focus {
    border:2px solid #ff9900;
	}
.sidtable td[status="a"] { 
    background-color:yellow;
	}
.sidtable td[late="1"], .sidtable td[late="2"], .sidtable td[late="3"], .sidtable td[late="4"] { 
    background-color:#44aa66;
	}
.sidtable td.selected, .sidtable th.selected {  
 	background-color:#5599dd; color:#ffffff;
	}
.sidtable td img { 
    padding:0 5px;
    width:10px;
    height:10px;
	}

button.selery { 
	width:16px; height:16px; border-style:none;	
	background-repeat:no-repeat;	
	}
button.selery img { 
    float:left;
	width:12px; height:12px;
	background-repeat:no-repeat;	
    padding:1px;border:0;
	}
button.selery[value="1"] img { 
	background-image:url("../images/redcross.png");
	}
button.selery[value="2"] img { 
	background-image:url("../images/redcross.png");
	}
button.selery[value="3"] img { 
	background-image:url("../images/redcross.png");
	}
button.selery[value="4"] img { 
	background-image:url("../images/redcross.png");
	}