.reportcolor fieldset, .reportcolor div.topform, .reportcolor table.listmenu {
	border-color:#44aaaa;
    color:#000000;
	}
div#bookbox {
	border-color:#44aaaa;
	}
.reportcolor button {
	background-color:#44aaaa; color:#ffffff;
	}
.reportcolor legend, .reportcolor caption {
    border-color:#44aaaa;
	}