/**										reportbook.css
 * main color: 44aaaa
 * light shade:
 */

span.reporttable {
  height: 100%;
  margin: 0;
  padding: 4px 6px 5px 4px;
}
span.reporttable a {
  padding: 2px 4px;
  margin: 0;
}
.listmenu .vspecial, .vspecial {
  background-color: #eef5d3 !important;
  color: #91C73E;
  font-style: normal;
  text-align: center;
}
.listmenu .vspecial a span:before {
  font-style: normal;
}
.deletecolumns {
  background-color: #666666 !important;
}

tr.specialrow td {
  background-color: #eb3939 !important;
  padding-left: 0 !important;
}
tr.pausespecialrow td {
  background-color: #EEEE00 !important;
  color: #B5B500 !important;
  padding-left: 0 !important;
}
tr.midspecialrow td {
  background-color: #FF9966 !important;
  color: #FFE9DD;
  padding-left: 0 !important;
}

.listmenu td, .listmenu th {
  padding-left: 0 !important;
}
.listmenu .txt-center {
  text-align: center;
}
