/**										reportbook.css
 * main color: 44aaaa
 * light shade:
 */

.reportcolor fieldset, .reportcolor div.topform, .reportcolor table.listmenu {
	border-color:#44aaaa;
    color:#000000;
	}
div#bookbox {
	border-color:#44aaaa;
	}
.reportcolor button {
	background-color:#44aaaa; 
	color:#ffffff;
	}
.reportcolor legend, .reportcolor caption {
    border-color:#44aaaa;
	}
p.reporttable { 
    float:left;
    padding:0 6px 0 4px;
    margin:0;
	}
p.reporttable a { 
    float:left;
    padding:2px 4px;
    margin:0;
	}
p.reporttable a.vspecial { 
    background-color:#ffff99;
	}
p.reporttable a.special { 
    background-color:#ffff99;
	}
