/**										selery.css
 * a selery class for offering either a menu made up of of <li>s
 * or buttons which click round a selectiong of 1-4 values
 * main color: 5599cc mimics the blue of a slected <select> option
 */


.selery ul {
    padding: 0;
    margin: 0 ;
}
/*
fieldset.selery {
    border-width: 2px 0 0 0;
}
.selery ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    width: 80%;
}

.selery li {
    color: #d2d7dc;
    display: inline-block;
    font-size: 14px;
    padding: 0 5px;
}
.selery li p    {
    margin: 5px;
}
.selery li:hover, .selery li.checked {
    color: #ffffff;
    cursor: pointer;
    background-color: #34495e;
}
.selery div.solery {
    background-color: #665;
}
.selery li input {
    display: none;
    margin: 2px;
    border: 0;
    padding: 1px;
    float: left;
    width: 1em;
    height: auto;
}
*/
/*these are for the grow selery button*/
/*
button.selery {
    width: 16px;
    height: 16px;
    border-style: none;
    background-repeat: no-repeat;
}
button.selery img {
    float: left;
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    padding: 1px;
    border: 0;
}
button.selerydot[value="1"] img {
    background-image: url("../images/dot1.png");
}
button.selerydot[value="2"] img {
    background-image: url("../images/dot2.png");
}
button.selerydot[value="3"] img {
    background-image: url("../images/dot3.png");
}
button.selerydot[value="4"] img {
    background-image: url("../images/dot4.png");
}
button.selerytick[value="1"] img {
    background-image: url("../images/greentick.png");
}
button.selerytick[value="2"] img {
    background-image: url("../images/greyminus.png");
}
button.selerytick[value="3"] img {
    background-image: url("../images/redcross.png");
}
.selery div.hilite {
    color: #ffffff !important;
}
.selery div.lolite {
    color: #aabbcc !important;
}
*/

button.selerytick{
  display: block;
  width: 25px;
  height: 25px;
  background-color: #91c73e;
  padding: 0;
}
button.selerytick[value="1"] span:before {
  content: "\f00c";
  color: #FFFFFF;
  margin-right: 0;
  font-size: 20px;
}
button.selerytick[value="2"] {
  background-color: #ed776b;
}
button.selerytick[value="2"] span:before {
  content: "\f00d";
  color: #FFFFFF;
  margin-right: 0;
  margin-left: 2px;
  font-size: 22px;
}



.selery li input {
    display: none;
    margin: 2px;
    border: 0;
    padding: 1px;
    float: left;
    width: 1em;
    height: auto;
}
