/*

 Uniform Theme: Uniform Default
 Version: 1.8
 By: Josh Pyles
 License: MIT License
 ---
 For use with the Uniform plugin:
 http://uniformjs.com/

 */

/* Select */
div.selector {
    background-color: #34495e;
    background-image: none;
    line-height: 40px;
    height: 40px;
    padding: 0 0 0 10px;
    position: relative;
    overflow: hidden;
    border-radius: 3px 0 0 3px;
}
div.selector span {
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    background-position: right -50px;
    height: 40px;
    line-height: 40px;
    padding-right: 25px;
    cursor: pointer;
    width: 100%;
    display: block;
}
div.selector select {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    border: none;
    background: none;
    position: absolute;
    height: 40px;
    top: 2px;
    left: 0px;
    width: 100%;
}
div.selector.blueTheme {
    width: 22%!important;
}
div.selector.blueTheme span {
    width: 95%!important;
}









div.selector.active span {
    background-position: right -50px;
}
div.selector.hover span, div.selector.focus span {
    background-position: right -50px;
}
div.selector.hover.active span, div.selector.focus.active span {
    background-position: right -50px;
}
div.selector.disabled span, div.selector.disabled.active span {
    background-position: right -50px;
}

/* PRESENTATION */

/* Select */
div.selector {
    font-size: 16px;
}
div.selector span {
    color: #FFFFFF;
    text-shadow: none;
}
div.selector select {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}
div.selector.disabled span, div.selector.disabled.active span {
    color: #FFFFFF;
}

/* CheckBox*/

/*Reset Uniform*/
div.checker {
    width: 20px;
    height: 20px;
    float: left;
    margin: 0 10px;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
}
div.checker:focus {
    outline: 0;
    cursor: pointer;
}

/* Checkbox */
div.checker span.checked input {
    position: absolute;
    z-index: 1;
    left: -1px;
    top: -1px;
    cursor: pointer;
}
div.checker span.checked:before {
    font-family: FontAwesome;
    content: "\f00c";
    color: #FFFFFF;
    display: block;
    margin-top: -1px;
    cursor: pointer;
}

div.checker span {
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
    text-align: center;
    background-color: #bac1c8;
    cursor: pointer;
}
div.checker input {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    border: none;
    background: none;
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
    cursor: pointer;
}
div.checker.hover span {
    background-color: #bac1c8;
    cursor: pointer;
}
div.checker span.checked, div.checker.hover span.checked {
    background-color: #91c73e;
}
