
.webcolor {
	position:absolute; left:0%; top:0%; width:100%; height:100%; 
	margin:0; border-top:2px solid #009900;
	background-color:#999999; color:#000000;
	}	
.webcolor h1, .webcolor h4 {
	background-color:#cccccc; color:#009900;
	}	
.webcolor h2, .webcolor h3, .webcolor h5 {
	background-color:#eeffee; color:#009900;
	}	
.webcolor button, .webcolor legend, .webcolor caption {
	background-color:#009900; color:#ffffff;
	}	
.webcolor fieldset {
	background-color:#cccccc; border-color:#009900
	} 
.webcolor div {
	background-color:#999999; border-color:#009900;
	} 
.webcolor label {
	color:#000000;
	}
.webcolor select, .webcolor option, .webcolor input {
	background-color:#eeffee;
	}

