/* CSS Document containing styles specific for pages prepared for printing */
body {  
	page:normal;
  	font-family:Arial, helvetica, sans-serif; 
    font-weight:300; 
    font-size:8pt; 
	margin:0px; border:0px;
	text-align:left;
	background-color:#fff;
	}
div.studenthead {  
    float:right; 
    padding-right:80px;
	border:solid 0px #000000;
	}
.studenthead td { 
    font-size:11pt;
	}
div.container {
	border:0;
	}
h1, h2  {
	text-align:left; font-weight:600; font-size:8pt;	
	}
div {
	margin:5px 5px 0px 5px; 
    	padding:4px 2px 10px 2px;
	}
div#logo {
	float:left; 
    border:solid 0px #000000; 
    margin:2px 2px 2px 60px; 
    padding:2px;
	}
div#xmlStudent {
	margin:10px; 
    height:10px;
	}
div.spacer {
	clear:both; 
    margin:0 0 10px 0;
	}
div.summary { 
	width:84%; 
    margin:2px 8% 10px 8%;
	border:solid 1pt #ddd; 
	float:left;
	}
div.summary p.comment-text, p.comment-text { 
	font-size:10pt;
	font-weight:300;
    	padding:2px 20px; 
	}
td.subject-comment p.comment-sig { 
    display:none;
	}
div.summary p.comment-sig { 
	padding:0; 
    margin:0 60px 0 0; 
    border:0;
	font-size:10pt;
	font-weight:600;
    float:right;
	}
table {
	border:0; 
    padding:0;
	text-align:left; 
	}
td 	{
	font-weight:600; 
	}
table.subject, div.subject {
	width:92%; 
	border:0;
	float:left; 
    margin-left:4%;
    display:table;
	} 

table.subject tr {
	margin:0 0;
	}
table.subject th, div.subject label {
	border:0;  
    background-color:#eee;
    color:#222;
	text-align:left;
	font-weight:600;
	font-size:11pt;
	padding:2px 6px;
    display:table;
	} 
table.subject tr.label th, div.summary > label {
	border:0;  
    background-color:#888;
    color:#fff;
	font-weight:300;
	text-align:center;
	font-size:8pt;
	padding:2px 10px;
	} 
table.subject tr.label > th:first-child, div.summary > label {
	text-align:left;
    width:45%;
	}
td div, .subject div { 
	padding:1px; 
	border:solid 1pt #ddd;
    font-size:10pt;
    margin:0;
	}
td.asscell {
    border:0;
    padding:0 20px;
    margin:0;
    text-align:center;  
	}
td.attcell {
    text-align:center;  
	}
td.asscell div, td.attcell div {
    width:5em;
    margin:0 20px 0 5px;
    float:right;
	}
table.descriptor {
    width:80%;
	border:0;
	float:left;
	font-size:8pt;
	padding:0 0 0 30px; 
    margin:0;
    font-weight:300;
	} 
table.descriptor tr > td:first-child {
	padding:0 30px 0 30px; 
    margin:0;
	} 
table.descriptor td {
    font-weight:300;
	} 
label, legend, caption {
	float:left; 
    padding:2px; font-weight:300;
	font-size:8pt;
	}
hr { 
	color:#ffffff;
	page-break-after: always; 
	height:0;
	width:0%
	}
tr.strand th {
    width:40%;
	border:0;  
    background-color:#ddd;
    color:#222;
	text-align:left;
	font-weight:400;
	font-size:8pt;
	padding:0.2em 1em;
    margin-right:5em;
	}
tr.spacer {
    height:1em;
	}
