/* CSS Document containing styles specific for pages prepared for printing */

body {
	page:normal;
  	font-family:Arial, helvetica, sans-serif;
    font-weight:300; font-size:10pt; 
	margin:0px; border:0px;
	text-align:left;
    background-color:#fff;
	}
div#xmlStudent {
	border:solid 1px #fff; margin:0; padding:0;
	}	
div.spacer {
	border:0; clear:both; 
    height:2px;
    padding:0;
    margin:0;
	} 
hr { 
	color:#ffffff;
	page-break-after: always; 
	height:0;
	width:0%;
	}
div {
	border:solid 1px #000000; 
    margin:20px 1px 1px 1px; 
    padding:10px;
	}
div.studenthead { 
	border:0;
	margin-left:2%;
    width:96%;
    font-weight:600; font-size:11pt;
	} 
div.right { 
	margin-right:1%;
    width:45%;
    float:right;
	} 
div.left { 
	margin-left:1%;
    width:45%;
    float:left;
	} 
.studenthead div {
	border:0;
    background-color:#eee;
    color:#222;
	text-align:left;
	padding:2px 6px;
    margin-right:4px;
    float:left;
	}
label { 
    font-weight:300;
    font-size:8pt;
	}
div label {
	margin:0;
	padding:0.3em 0.5em 0.3em 0.5em;
	} 
table {
	border:0; padding:0;
	text-align:left; 
    font-weight:300; 
    margin:1px; 
    margin-left:2%;
    width:96%;
	} 
td, span 	{
	font-weight:600; 
    font-size:10pt;
	}
th {
    background-color:#eee;
    color:#222;
	text-align:center;
	font-weight:300;
	font-size:10pt;
	padding:0.1em;
	}
th:first-child {
	text-align:left;
	}
td div {
	border:solid 1pt #ddd; 
    text-align:center;  
	font-weight:600; 
    padding:0px;
    margin:0px;
	}
td label { 
    font-size:10pt;
	}
.small td label, .small td div, .small tr { 
    font-size:7pt;
    padding:0;
    margin:0;
    border:0;
	}
table.small { 
    padding:0;
    border-collapse:collapse;
	}
div.summary { 
	width:90%; 
    margin:5px 4% 2px 4%;
	border:solid 1pt #ddd; 
	float:left;
    padding:0;
	}
div.summary p.comment-text, p.comment-text { 
	font-size:10pt;
	font-weight:300;
    padding:1px 10px; 
    margin:1px;
	}
div.summary p.comment-sig { 
	padding:0; 
    margin:0 60px 0 0; 
    border:0;
	font-size:11pt;
	font-weight:600;
    float:right;
	}
div.summary label { 
    background-color:#eee;
    color:#222;
	border:0;
	padding:1px; 
    margin:0 0 1px 1px; 
	font-size:8pt;
	font-weight:300;
    float:right;
	}
