body {
  	font-family:Arial, helvetica, sans-serif; 
    font-weight:300; font-size:12pt; 
	margin:0px; border:0px; padding:0px;
	text-align:left;
	}
div#xmlStudent {
	border:0; margin:0;
	}
div.spacer {
	border:0; clear:both; 
	}
table {
    margin:0;
	border:0; 
    padding:0;
	}
div.label {
	border:0;
	margin:0 0 0 25px;
	padding:0; 
    height:150px;
	}
table.address {
    text-align:left;  
	font-weight:600; 
	font-size:9pt;
    margin:10px 0 5px 15px;
	}
table.address td {
	margin-left:25px;
	}
div.studentdata {
	font-size:6pt; 
	font-style:italics; 
	font-weight:200;
    text-align:right;  
    margin:0; border:0;
	}
.leftcol {
	width:45%; 
	border:0;
    float:left;
    margin-left:25px;
	}
.rightcol {
	width:45%;
	border:0;
	float:right; 
    padding-left:40px;
    margin-right:0px;
	}
hr { 
	color:#ffffff;
	page-break-after: always; 
	height:0;
	width:0;
	}
div.spacer {
	clear:both; 
    margin:0;
    height:10px;
    border:0;
	}
