body {
  	font-family:Arial, helvetica, sans-serif; 
    font-weight:300; font-size:12pt; 
	margin:0px; border:0px;
	text-align:left;
	}
div#xmlStudent {
	border:0; margin:2px;
	}	
div.spacer {
	border:0; clear:both; 
	}
table {
	border:0; 
    padding:0;
	} 
div.label {
	border:solid 1pt #000000;
	margin:5px 0 0 0; 
	padding:2px; 
    width:100%;
	}
table.address {
    text-align:left;  
	font-weight:600; 
	font-size:9pt;
	}
table.address td {
	margin-left:5px;
	}
div.studentdata {
	font-size:6pt; 
	font-style:italics; 
	font-weight:200;
    text-align:right;  
    margin:0; border:0;
	}
table#leftcol {
	width:45%; 
	border:0;
	float:left; margin-left:10px;
	} 
table#rightcol {
	width:45%; 
	border:0;
	float:right; margin-right:10px;
	} 
table#fullwidth {
	margin-left:2%;
    width:96%;
	}
hr { 
	color:#ffffff;
	page-break-after: always; 
	height:0;
	width:0%;
	}
