 
body {
        page:normal;
        font-family:Verdana, Arial, sans-serif;
        font-weight:300; font-size:8pt;
        margin:0px; margin-top:-5px; border:0px;
        text-align:left;
        }
div.studenthead {
    float:right; padding-right:80px;
        border:0;
        }
h1, h2  {
        text-align:left; font-weight:600; font-size:9pt;
        }
div {
        border:solid 1px #000000; margin:20px 5px 5px 5px; padding:1px;
        }
div#logo {
        float:left; border:solid 0px #000000;  margin:2px 2px 2px 60px; padding:1px;
        }
div.spacer {
        border:solid 0px #000000; clear:both;
        }
table {
        border:0; padding:0;
        text-align:left; font-weight:300; margin:5px;
        }
table.grades td {
        border:solid 1pt #000000;
        padding:0.2em;
    text-align:center;
        font-weight:600;
        font-size:8pt;
        }
table.grades td.special {
        border:solid 1pt #cccccc;
    background-color:#cccccc;
    font-size:7pt;
        }
table#studentdata td {
        font-size:8pt;
        }
table#fullwidth {
        margin-left:2%;
    width:96%;
    margin-top:-45px;
        }
table.grades th {
        border:solid 1pt #000000;
        text-align:center;
        font-weight:300;
        font-size:8pt;
        padding:0.1em;
        }
table.grades td:first-child, table.grades td:first-child{
        text-align:left;
        padding-left:1em;
        }
table.grades th label {
        margin:0;
        padding:0.3em 0em;
        }
td      {
        font-weight:600;
        }

th      {
        text-align:center; font-weight:600;
        }
label, legend, caption {
        text-align:left; padding:2px; font-weight:300;
        font-size:8pt;
        }
label {
    margin:0 1em;
        }
hr {
        color:#ffffff;
        page-break-after: always;
        height:0;
        width:0%;
        }

