body {
	page:normal;
  	font-family:Arial, helvetica, sans-serif;
    font-weight:300; font-size:10pt; 
	margin:0px; border:0px;
	text-align:left;
    background-color:#fff;
	}
#xmlStudent {
	border:0 none;
	height:0px;
	margin:0px;
}
div.spacer {
	border:0; clear:both; 
    height:2px;
    padding:0;
    margin:0;
	} 
hr { 
	color:#ffffff;
	page-break-after: always; 
	height:0;
	width:0%;
	}
div.head { 
	border:0;
	margin-left:2%;
    width:96%;
    font-weight:600; font-size:11pt;
	} 
div.right { 
	margin-right:1%;
    width:45%;
    float:right;
	} 
div.left { 
	margin-left:1%;
    width:45%;
    float:left;
	} 
.head div {
	border:0;
    background-color:#eee;
    color:#222;
	text-align:left;
	padding:2px 6px;
    margin-right:4px;
    float:left;
	}
div label {
	margin:0;
	padding:0.3em 0.5em 0.3em 0.5em;
	} 
table {
	border:0; padding:0;
	text-align:left; 
    font-weight:300; 
    margin:1px; 
    width:100%;
	} 
td 	{
	font-weight:600; 
    font-size:10pt;
	}
table th {
    background-color:#eee;
    color:#222;
	text-align:center;
	font-weight:600;
	font-size:10pt;
	padding:0.3em 0.1em;
	}
table th:first-child {
	text-align:left;
	}
table td {
	border:solid 2px #ddd; 
	padding:0 0.2em; text-align:center;  
	font-weight:600; 
	}
table.subcell td {
	border:solid 1px #eee; 
	}
.hilife {
    background-color:#fdff2f;
	}
.golife {
    background-color:#feff7f;
	}
.pauselife { 
    background-color:#ffffdf;
	}

